.main_messages_wrapper {
    display: flex;
    flex-direction: column;

    padding: 0.6rem 0rem 0.9rem 0rem;
}

.message_author {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    max-width: max-content;
    align-self: center;
}

.message_title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: larger;
}

.message_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 0.4rem;
    background-color: #f8f4ff;

    border-width: 0.1rem;
    border-color: #ddeeff;
}

elem_single {
    display: flex;
    flex-direction: column;
    margin-left: 0.6rem;
}

.message_wrapper hr {
    border-width: 0.2rem;
    border-color: #ddeeff;

    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
}

.message_element {
    display: flex;
    margin-left: 0.6rem;
}