.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar_elem {
    float: left;
}

.navbar_href {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar_href:hover {
    background-color: #111;
}

.main_messages_wrapper {
    display: flex;
    flex-direction: column;

    padding: 14px 0px 14px 0px;
}

.message_title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.message_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    background-color: #f8f4ff;
}