<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greatest Blog of all Time</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_style.css'%}"/>
</head>

<body bgcolor="{{bg}}">

    <ul class="navbar">
        <li class="navbar_elem"> <a class="navbar_href" href="\blog"> Добавить Сообщение </a> </li>
        <li class="navbar_elem"> <a class="navbar_href" href="\login"> Войти </a> </li>
        <li class="navbar_elem"> <a class="navbar_href" href="\registration"> Зарегестрироваться </a> </li>

        <li class="navbar_elem"><form action="\logout" method="post">
                {% csrf_token %}
                <input class="navbar_href" type="submit" value="Выйти"/>
        </form></li>
    </ul>

    <div class="main_messages_wrapper">
        {% for msg in messages %}

            <div class="message_wrapper">
                <div class="message_title">
                    <div> {{msg.sender.username}} </div>
                    <div> {{msg.create_time}} </div>
                </div>
                <div> {{msg.text}} </div>
            </div>

        {% endfor %}
    </div>

</body>
</html>
