{% extends "base.html" %}
{% block content %}

<div class="formHiddenWrapper">
    <div class="formFullWrapper">
        <form action="/registration/" method="post"> {% csrf_token %}
            {% for field in form %}
            <div class="formFieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
            <div class="formInputButtonWrapper"><input class="formInputButton" type="submit"></div>
        </form>
    </div>
</div>

{% endblock %}
